#clarin-file-list{
	padding-left: 23px;
}
#clarin-file-list tr{
	height: 40px;
}
#clarin-file-list .filename{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-size: 32px;
	background-repeat: no-repeat;
	padding-left: 51px;
	background-image: url('../../../index.php/apps/theming/img/core/filetypes/file.svg?v=0');
	background-position: 7px 7px;
	cursor: pointer;
}
.clarin-ccl-modal-inside{
	padding-left: 23px;
}