body {
	color: #4c4c4c;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
}

.row {
	margin-right: 0px;
	margin-left:0px;
}

.main-form-content div[class^="col-"] {
	padding:0;
}

input[type="text"], input[type="password"], input[type="search"], input[type="number"], input[type="email"], input[type="tel"], input[type="url"], input[type="time"], input[type="date"], textarea, select, button, .button, input[type="submit"], input[type="button"],
#app-content #app-content-wrapper form.form-horizontal .form-group {
	width: 100% !important;
}

.error-external,
#app-content #app-content-wrapper form.form-horizontal .form-group label.error{
	color: #fb6b6b;
	font-size: 0.9em;
}


/*TODO*/
.table>thead>tr>th {
	/* vertical-align: bottom; */
	 border:0;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	border:0;
}
.table-hover>tbody>tr:hover {
	background:inherit;
}

.tbody tr:hover, tbody tr:focus, tbody tr:active {
	background: inherit;
}
.mytable{
	background: #333a74;
	color: #fff;
}
/* Top navigation */
#body-user #header {
	background-color: #a7a7a7;
}

#body-user #header a.menutoggle {
	padding-top: 12px;
}

#body-user #header a.menutoggle h1 {
	font-size: 20px;
}

/* Padding between tiles */
#resource-basic-information, #creation-circumstances, #access,
#resource-content, #selected-files {
	background-color: white;
}

/* Main content */
#app-content {
	background-color: #fff;
}

#app-content #app-content-wrapper form.form-horizontal {
	background-color: #fff;
}


#app-content #app-content-wrapper form.form-horizontal .right-container {
	padding:0;
	/*height: 100%;*/
	margin: 0 auto;
	background: #323a73;
}
#app-content #app-content-wrapper form.form-horizontal .form-main-container {
	width: 100%;
	float:left;
	margin: 0 auto;
}

#app-content #app-content-wrapper form.form-horizontal .form-main-container .form-header {
	padding: 15px;
}

#app-content #app-content-wrapper form.form-horizontal .form-main-container .block {
	padding: 0 8% 1px;
}

#app-content #app-content-wrapper form.form-horizontal .form-main-container .form-header h3 {
	margin: 0;
	color: #000;
	font-size: 22px;
	font-weight: bold;
	text-align: left;
	/*letter-spacing: 0px;*/
	/*text-transform: uppercase;*/
	border-bottom: 1px solid rgba(78, 78, 78, 0.15);
	padding-bottom: 5px;
}

#app-content form.form-horizontal .form-main-container .form-body {
	background-color: white;
	padding: 0;
  margin: 0;
}

#app-content form.form-horizontal .form-main-container .form-body .row-all {
	margin: 0 10px;
}

#app-content form.form-horizontal .form-main-container .form-body .row.optional {
	border-top: 10px solid #615286;
}

#app-content form.form-horizontal .form-main-container .form-body .row.optional h3 {
	margin: 0;
	padding: 10px;
	color: white;
	background-color: #615286;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}

#app-content form.form-horizontal .form-main-container .form-body .row.optional svg {
	fill: white;
	margin-bottom: 2px;
}

#app-content form.form-horizontal .form-main-container .form-body .row-margin-first {
	margin: 10px 10px 0;
}

#app-content form.form-horizontal .form-main-container .form-body .row-margin-last {
	margin: 0 10px 10px;
}


table#filesTable thead tr th{
	border-bottom: 1px solid #eee !important;
}

.main-form-content{
	border-right: 1px solid #eee;
}

.col-right-content{
	padding-left: 20px;
}

#app-content #app-content-wrapper form.form-horizontal .form-group-adjust {
	margin: 20px 10px;
}

input::-webkit-calendar-picker-indicator {
  /*display: none;*/
	opacity: 1;
	padding: 20px;
	cursor: pointer;
	background-color: transparent;
}


#app-content #app-content-wrapper form.form-horizontal .form-group button {
	color: white;
	background-color: #333a74;
	padding: 7px 15px;
	border-radius: 0;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}


#app-content #app-content-wrapper form.form-horizontal .form-group button:hover {
	filter: brightness(150%);
}
